---
import Layout from "../layouts/Layout.astro";
import DonateNow from "../components/DonateNow.astro";
import News from "../components/News.astro";

---

<Layout>
    <section class="hero">
        <div class="container text-center">
            <h1 class="section__title">Ask for help</h1>
            <div class="section__text">
                <p>
                    The “Stellar Ukraine” nonprofit foundation appreciates your
                    interest. Once your application has been reviewed, your
                    personal manager will contact you.
                </p>
            </div>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="form-wrapper">
                <form class="form" action="https://api.form-data.com/f/6wz6nrzy1o2dx5w8jtbavu" method="post">
                    <div class="form-controls__grid">
                        <div class="form-control">
                            <label for="inpName">Your name</label>
                            <input
                                class="form-control__inp"
                                id="inpName"
                                name="name"
                                type="text"
                                placeholder="Enter your full name"
                            />
                        </div>
                        <div class="form-control">
                            <label for="inpMail">Your email</label>
                            <input
                                class="form-control__inp"
                                id="inpMail"
                                name="email"
                                type="text"
                                placeholder="Enter your email address"
                            />
                        </div>
                        <div class="form-control">
                            <label for="inpSubject"
                                >What you are interested</label
                            >
                            <select
                                class="form-control__inp form-control__select"
                                id="inpSubject"
                                name="subject"
                            >
                                <option value="Relocation">Relocation</option>
                                <option value="Medical supplement"
                                    >Medical supplement</option
                                >
                                <option value="Financial issues"
                                    >Financial issues</option
                                >
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-control">
                            <label for="inpTel">Your phone</label>
                            <input
                                class="form-control__inp"
                                id="inpTel"
                                name="phone"
                                type="tel"
                            />
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="inpMessage">Message</label>
                        <textarea
                            class="form-control__inp form-control__textarea"
                            id="inpMessage"
                            name="message"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button class="btn btn-submit" type="submit">Send</button>
                    <div class="form-data-powered-by" data-formdata-lang="en" data-formdata-sitename="Super Store" data-formdata-theme="light"></div>
                </form>
                <script>
                    // @ts-ignore
                    _fd.scan()
                </script>
            </div>

            <div class="contacts text-center">
                <p>or you always can rich us via&nbsp;phone, email or Instagram</p>
                <a
                    href="mailto:volunteer@stellarua.org"
                    class="social-link social-link--mob"
                >
                    <svg
                        width="26"
                        height="21"
                        viewBox="0 0 26 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g clip-path="url(#clip0_192_2797)">
                            <path
                                d="M26 2.47509C26 1.11353 24.8629 0.00976562 23.4603 0.00976562H2.53968C1.13705 0.00976562 0 1.11353 0 2.47509V18.5444C0 19.906 1.13705 21.0098 2.53968 21.0098H23.4603C24.8629 21.0098 26 19.906 26 18.5444V2.47509ZM2.55329 1.97991H23.4802C23.7603 1.97991 23.9858 2.19675 23.9858 2.46866V2.49005L13.3754 12.7909C13.246 12.9165 13.0955 12.9353 13.0169 12.9353C12.9383 12.9353 12.7873 12.9165 12.6578 12.7909L2.04494 2.48865V2.46866C2.04494 2.19675 2.27321 1.97991 2.55329 1.97991ZM23.4802 19.0396H2.55329C2.27321 19.0396 2.04494 18.8145 2.04494 18.5426V5.27784L11.2215 14.1855C11.7011 14.6512 12.339 14.9076 13.0174 14.9076C13.6958 14.9075 14.3324 14.6511 14.8121 14.1855L23.9858 5.27923V18.5426C23.9858 18.8145 23.7603 19.0396 23.4802 19.0396Z"
                                fill="currentColor"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_192_2797">
                                <rect
                                    width="26"
                                    height="21"
                                    fill="currentColor"
                                    transform="translate(0 0.00976562)"></rect>
                            </clipPath>
                        </defs>
                    </svg>

                    volunteer@stellarua.org
                </a>
                <a
                    href="https://www.instagram.com/stellar.ukraine/"
                    class="social-link social-link--mob"
                    target="_blank"
                >
                    <svg
                        width="26"
                        height="26"
                        viewBox="0 0 26 26"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M19 0.00976562H7C3.14 0.00976562 0 3.14977 0 7.00977V19.0098C0 22.8698 3.14 26.0098 7 26.0098H19C22.86 26.0098 26 22.8698 26 19.0098V7.00977C26 3.14977 22.86 0.00976562 19 0.00976562ZM24 19.0098C24 21.7668 21.757 24.0098 19 24.0098H7C4.243 24.0098 2 21.7668 2 19.0098V7.00977C2 4.25277 4.243 2.00977 7 2.00977H19C21.757 2.00977 24 4.25277 24 7.00977V19.0098ZM13 7.00977C9.691 7.00977 7 9.70077 7 13.0098C7 16.3188 9.691 19.0098 13 19.0098C16.309 19.0098 19 16.3188 19 13.0098C19 9.70077 16.309 7.00977 13 7.00977ZM13 17.0098C10.794 17.0098 9 15.2158 9 13.0098C9 10.8038 10.794 9.00977 13 9.00977C15.206 9.00977 17 10.8038 17 13.0098C17 15.2158 15.206 17.0098 13 17.0098ZM21 6.50977C21 7.33777 20.328 8.00977 19.5 8.00977C18.672 8.00977 18 7.33777 18 6.50977C18 5.68177 18.672 5.00977 19.5 5.00977C20.328 5.00977 21 5.68177 21 6.50977Z"
                            fill="currentColor"></path>
                    </svg>

                    @StellarUA
                </a>
                <a href="tel:0800300756" class="phone-link social-link--mob"
                    >0800-300-756</a
                >
            </div>
        </div>
    </section>
    <DonateNow />
    <section class="news">
        <div class="container">
            <h2 class="section__title text-center">Related articles</h2>
            <div class="section__text text-center">
                <p>
                    Discover the latest updates and inspiring stories showcasing
                    the positive impact of your support.
                </p>
            </div>
        </div>

        <div class="news-wrapper">
            <div class="container">
                <News />
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">
    <script is:inline type="module">
    document.addEventListener('DOMContentLoaded', function() {
        const inp = document.querySelector("#inpTel");
        intlTelInput(inp, {
        initialCountry: "auto",
        showSelectedDialCode: true,
        geoIpLookup: callback => {
            fetch("https://ipapi.co/json")
            .then(res => res.json())
            .then(data => callback(data.country_code))
            .catch(() => callback("us"));
        },
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js"
        });
    });
    </script>

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js" defer></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
    <script is:inline>
        document.addEventListener('DOMContentLoaded', function() {
            new SlimSelect({
            select: '#inpSubject',
            settings: {
                showSearch: false,
            }
            });
        });
    </script>
</Layout>



<style>
    .hero {
        background: #073abe;
        color: #fff;
        padding: 114px 0 60px;
        
    }
    .hero .container {
        max-width: 860px;
        text-align: center;
    }
    .hero .section__text {
        color: #fff;
        font-size: 16px;
        line-height: 1.6em;
        max-width: 100%;
        margin-bottom: 0;
    }

    .hero h1 {
        font-size: 24px;
        line-height: 1.4em;
    }

    .hero .section__text p:last-child {
        margin-bottom: 0;
    }

    .contact-us {
        padding-top: 30px;
    }

    .contact-us .container {
        max-width: 760px;
    }

    .contacts p {
        max-width: 300px;
        margin: 0 auto 30px;
    }
    .social-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin: 0 auto;
    }
    .phone-link {
        font-size: 24px;
        line-height: 1.8em;
        font-weight: 700;
        display: inline-block;
        margin: 0 auto;
    }
    .contacts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        margin-bottom: 30px;
    }
    .news .section__text {
        margin: auto;
        color: #979797;
    }
    .news-wrapper {
        position: relative;
        padding-bottom: 5px;
    }
    .news-wrapper::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: -5px;
        background: #000;
    }

    @media (min-width: 769px) {
        .hero {
            padding: 195px 0 140px;
            margin-bottom: -80px;
        }
        .hero h1 {
            font-size: 40px;
        }
        .hero .section__text {
            font-size: 24px;
            line-height: 1.5em;
        }
        .contacts {
            margin-bottom: 60px;
        }
        .contact-us {
            background-color: #fff;
            border-radius: 10px;
            max-width: 800px;
            margin: auto;
            
        }
        .form-controls__grid {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 20px;
        }
        .form-control__textarea {
            height: 150px;
        }
        .news-wrapper::before {
            top: 60px;
            background: url(/images/news-bg.svg), #000;
            background-repeat: no-repeat;
            background-position: top right;
        }
        .news-wrapper .container::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background: #414141;
            position: relative;
            z-index: 111;
        }
    }
</style>
