---
import Arrow from "./Arrow.astro"

const {lang} = Astro.params
const currentLang = lang || 'en-US';
---

<a href={lang ? `/${lang}/donate`:'/donate'} class="btn btnDonate">
    {currentLang === 'en-US' ? "Donate": "Пожертвувати"}
    <Arrow />
</a>

<style>
    .btnDonate {
        background: #FFD600;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        text-align: center;
        height: 41px;
        padding: 0 15px;
        font-weight: 700;
        font-size: 15px;
        color: #000;
        transition: 0.5s ease;
    }
    .btnDonate:hover {
        background: #FFE249;
    }
    .btnDonate:active {
        background: #FFC513;
    }
</style>