---
import BtnDonate from "./BtnDonate.astro";
import Navigation from "./Navigation.astro";
---

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-donate">
                <div class="emblem">
                    <svg
                        width="28"
                        height="44"
                        viewBox="0 0 28 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M13.9995 43.999C13.7428 43.8534 12.9053 43.3763 12.4713 43.0888L12.4614 43.0821C10.0414 41.2862 8.36421 38.7234 7.73841 35.8657L7.71243 35.7483H-0.000488281V3.25353L0.340304 3.43334C0.943186 3.75062 1.53155 4.11546 2.08935 4.5167C5.39718 6.90038 7.5023 10.5242 7.86448 14.4594L9.01982 23.7177L8.24195 23.6382H8.23278C7.26695 23.6523 6.42796 24.3218 6.23922 25.2298C6.13301 25.741 6.23922 26.2633 6.53799 26.6995C6.84363 27.1453 7.31356 27.4492 7.85913 27.554L9.07254 27.7888L9.12603 27.6922C9.5333 26.9551 9.96349 26.1697 10.3532 25.3917L10.3578 25.3821C11.5849 22.4233 12.7089 19.2044 12.6218 15.7129C12.6012 13.8307 12.4652 11.9196 12.3338 10.0709C12.2084 8.3129 12.0793 6.49542 12.0487 4.70172C12.0487 3.03879 12.6807 1.43679 13.8284 0.187735L14.0003 0.000488281L14.173 0.187735C15.3207 1.43753 15.9526 3.03879 15.9526 4.698C15.9212 6.49914 15.7921 8.31513 15.6668 10.0709C15.5354 11.9181 15.3994 13.8285 15.3787 15.7099C15.2924 19.2044 16.4156 22.4233 17.6428 25.3821L17.6474 25.3917C18.0363 26.1675 18.4665 26.9536 18.8745 27.6922L18.928 27.7888L20.1407 27.5547C20.687 27.45 21.1562 27.1468 21.4626 26.7002C21.7621 26.2641 21.8675 25.7417 21.7613 25.2305C21.5726 24.3225 20.7336 23.653 19.7678 23.6389H19.7586L18.9807 23.7191L20.1353 14.4653C20.4983 10.5257 22.6034 6.90187 25.9112 4.51819C26.469 4.1162 27.0574 3.75211 27.6602 3.43483L28.001 3.25501V35.7497H20.2874L20.2614 35.8671C19.6356 38.7249 17.9584 41.2876 15.5392 43.0828L15.5277 43.091C15.0945 43.3778 14.257 43.8556 14.001 44.0005L13.9995 43.999ZM10.5924 35.937C10.9484 37.1459 11.5391 38.2635 12.3483 39.2591L12.6211 39.5942V35.7475H10.5366L10.5924 35.937ZM15.378 39.595L15.6508 39.2599C16.4599 38.2649 17.0506 37.1474 17.4067 35.9377L17.4625 35.7483H15.378V39.595ZM24.3157 27.042C23.8137 28.5222 22.5805 29.6546 21.0171 30.0714L21.0087 30.0736L20.1399 30.2631L20.1773 30.4102C20.3882 31.2439 20.509 32.0992 20.5357 32.9522L20.5403 33.0963H25.2426V26.9402H24.3501L24.3157 27.042ZM17.2951 30.8969C16.3132 31.1644 15.5743 31.9602 15.4116 32.924L15.3825 33.0963H17.7834L17.7765 32.9418C17.749 32.2968 17.6504 31.6444 17.4846 31.0039L17.4464 30.8561L17.2951 30.8969ZM10.5152 31.0032C10.3494 31.6437 10.2508 32.2961 10.2233 32.941L10.2164 33.0956H12.6172L12.5882 32.9232C12.4254 31.9595 11.6858 31.1637 10.7047 30.8962L10.5534 30.8553L10.5152 31.0032ZM2.75642 33.0963H7.45874L7.46333 32.9522C7.49007 32.0999 7.6108 31.2447 7.82169 30.4102L7.85913 30.2631L6.98117 30.0707C5.41857 29.6538 4.1853 28.5214 3.68328 27.0413L3.6489 26.9395H2.75642V33.0956V33.0963ZM13.8559 24.2385C13.3355 25.6488 12.683 27.0197 11.9166 28.3134L11.8279 28.4627L11.9922 28.5259C12.7166 28.8038 13.3546 29.2184 13.8895 29.7579L13.9995 29.8686L14.1095 29.7579C14.6444 29.2184 15.2825 28.8038 16.0061 28.5259L16.1711 28.4627L16.0825 28.3134C15.3168 27.0212 14.6643 25.6503 14.1432 24.2385L13.9995 23.8492L13.8559 24.2385ZM24.9652 9.21719C23.8664 10.7204 23.1604 12.4769 22.9243 14.2981L22.0204 21.5457L22.1098 21.594C23.1612 22.1669 23.9444 23.0883 24.3157 24.1865L24.3501 24.2891H25.2426V8.83749L24.9652 9.21644V9.21719ZM2.75642 24.2891H3.6489L3.68328 24.1865C4.05464 23.0883 4.83785 22.1677 5.88926 21.594L5.97866 21.545L5.07472 14.2959C4.83861 12.4747 4.13258 10.7189 3.03379 9.2157L2.75642 8.83675V24.2883V24.2891Z"
                            fill="#A18458"></path>
                    </svg>
                    <div>
                        Please help us to <span class="stronger"
                            >get stronger</span
                        >
                    </div>
                </div>
                <BtnDonate />
            </div>
            <a href="/" class="footer-logo">
                <img src="/images/logo.svg" />
            </a>
            <div class="menu-wrapper">
                <Navigation />
            </div>
        </div>
        <div class="footer-copyright">
            <p>
                Stellar Ukraine is a 501(c)(3) not-for-profit organization.<br
                />
                EIN number 13-5660870.
            </p>

            <div>
                <ul class="policies">
                    <li class="policies__item">
                        <a href="https://www.rescue.org/page/terms-use"
                            >Terms and Conditions</a
                        >
                    </li>
                    <li class="policies__item">
                        <a href="https://www.rescue.org/respecting-your-privacy"
                            >Respecting Your Privacy</a
                        >
                    </li>
                </ul>
                <p class="copyright">
                    Copyright © International Rescue Committee, 2024.
                </p>
            </div>
        </div>
    </div>
</footer>
