---
import { getStaticPaths } from "../contentful/header";
import type { TopMenuItems } from "../contentful/types";

const { paths } = await getStaticPaths();
const {lang} = Astro.params;

const currentLang = lang || 'en-US';
const headerElem: TopMenuItems['fields'][] = paths
  .filter((path:any) => path.params.locale === currentLang)
  .map((path:any) => path.props.element);



---

<ul class="menu">
    {headerElem.map((entry:any) => <li class="menu__item"><a href={currentLang === 'en-US' ? entry.menuItemLink : `/${lang}${entry.menuItemLink}`} class="menu__item-link">{entry.menuItemTitle}</a></li>)}
</ul>

