<ul class="menu">
    <li class="menu__item"><a href="" class="menu__item-link">Team</a></li>
    <li class="menu__item"><a href="" class="menu__item-link">Projects</a></li>
    <li class="menu__item"><a href="" class="menu__item-link">Where we work</a></li>
    <li class="menu__item"><a href="" class="menu__item-link">Our Mission</a></li>
</ul>

