---
import { getStaticPaths } from "../contentful/services";
import type { Services } from "../contentful/types";

const { paths } = await getStaticPaths();
const {lang} = Astro.params;
const currentLang = lang || 'en-US';  // Если lang не определен, используем 'en-US' по умолчанию

const servingArr: Services['fields'][] = paths
  .filter((path) => path.params.locale === currentLang)
  .map((path) => path.props.serving);
  
---

<div class="about__list">
    <ul class="aims">
        {servingArr.map((entry) => {
            const icon = entry.icon.fields.file?.url as string
            return <li class="aims__item">
                <img src={icon} />
                <h3>{entry.title}</h3>
                <p>
                    {entry.description}
                </p>
            </li>
            }
            )}
        
    </ul>
</div>

<style>
    .aims {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	.aims__item img {
		width: 60px;
		height: 60px;
	}
    .aims__item h3 {
		line-height: 1em;
		margin: 24px 0;
	}
    @media (max-width: 768px) {
        .aims {
			grid-template-columns: 1fr;
		}
        .aims {
			gap: 30px;
		}
		.aims__item h3 {
			margin: 10px 0 20px;
		}
    }
</style>