---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/normalize.css'
import '../styles/global.css'


const locale = Astro.params.locale;
const {headerType} = Astro.props
---
<html lang={locale}>
	<head>
		<meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>StellarUA</title>

        <!-- Font preloads -->
        <link rel="preload" href="/fonts/e-ukraine-light.otf" as="font" type="fontotff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-thin.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-ultralight.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-medium.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-regular.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-bold.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukrainehead-light.otf" as="font" type="font/otf" crossorigin />
        <link rel="preload" href="/fonts/e-ukrainehead-bold.otf" as="font" type="font/otf" crossorigin />
        <script src="https://static.form-data.com/js/form-data-tools.v1.min.js"></script>
  
    </head>
	<body>
        <Header headerType={headerType}/>
		<slot />
        <Footer/>
        <script type="module"> 
            document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.nav-links').classList.toggle('expanded');
            document.querySelector('.hamburger').classList.toggle('active');
            document.getElementById('header').classList.toggle('menu-open');
});

var prevScrollpos = window.screenY;
var headerDiv = document.querySelector("header");

window.onscroll = function () {
    var currentScrollPos = window.scrollY;
    if (currentScrollPos < 45) {
        headerDiv.classList.remove('collapsed');
    }
    else {
        headerDiv.classList.add('collapsed');
    }
}
        </script>
	</body>
</html>