---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/normalize.css'
import '../styles/global.css'


const locale = Astro.params.locale;
const {headerType} = Astro.props
---
<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>StellarUA</title>

        <!-- Font preloads -->
        <link rel="preload" href="/fonts/e-ukraine-light.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-thin.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-ultralight.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-medium.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-regular.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukraine-bold.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukrainehead-light.woff" as="font" type="font/woff" crossorigin />
        <link rel="preload" href="/fonts/e-ukrainehead-bold.woff" as="font" type="font/woff" crossorigin />
        <script src="https://static.form-data.com/js/form-data-tools.v1.min.js"></script>
  
    </head>
	<body>
        <Header headerType={headerType}/>
		<slot />
        <Footer/>
        <script type="module"> 
            document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.nav-links').classList.toggle('expanded');
            document.querySelector('.hamburger').classList.toggle('active');
            document.getElementById('header').classList.toggle('menu-open');
});

var prevScrollpos = window.screenY;
var headerDiv = document.querySelector("header");

window.onscroll = function () {
    var currentScrollPos = window.scrollY;
    if (currentScrollPos < 45) {
        headerDiv.classList.remove('collapsed');
    }
    else {
        headerDiv.classList.add('collapsed');
    }
}
        </script>
	</body>
</html>