---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"careers">["data"];

const { title, jobType, location, link } = Astro.props;
---

<div class="vacancy-tab tab">
    <div class="vacancy-tab__btn tab__btn">
        <div class="vacancy-title">{title}</div>
        <div class="vacancy-info">
            <div class="vacancy-jobType">{jobType}</div>
            <span>•</span>
            <div class="vacancy-location">{location}</div>
        </div>
        <div class="tab__btn-arrow">
            <svg
                width="17"
                height="10"
                viewBox="0 0 17 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M8.3457 9.94531C8.70605 9.93652 9.00488 9.81348 9.28613 9.52344L15.9043 2.75586C16.1328 2.53613 16.2383 2.26367 16.2383 1.92969C16.2383 1.27051 15.7197 0.743164 15.0605 0.743164C14.7354 0.743164 14.4365 0.875 14.1992 1.1123L8.35449 7.12402L2.49219 1.1123C2.25488 0.875 1.96484 0.743164 1.63086 0.743164C0.97168 0.743164 0.444336 1.27051 0.444336 1.92969C0.444336 2.25488 0.558594 2.53613 0.787109 2.75586L7.40527 9.52344C7.68652 9.81348 7.98535 9.94531 8.3457 9.94531Z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <div class="vacancy-tab__content tab__content">
        <div class="vacancy-description">
            <slot />
        </div>
        <a href={link} class="btn btn-respond">Respond</a>
    </div>
</div>

<script> 
    import "../scripts/tabs.js";  
</script>

<style>
    .vacancy-tab + .vacancy-tab {
        border-top: 1px solid #ededed;
    }
    .vacancy-tab__btn {
        display: grid;
        gap: 8px 20px;
        text-align: left;
        align-items: center;
        padding: 25px 30px;

        grid-template-columns: 1fr 20px;
        grid-template-rows: repeat(2, 1fr);

        cursor: pointer;
    }

    .vacancy-title {
        grid-area: 1 / 1 / 2 / 2;
    }
    .vacancy-info {
        grid-area: 2 / 1 / 3 / 2;
    }
    .tab__btn-arrow {
        grid-area: 1 / 2 / 3 / 3;
    }

    .tab__btn-arrow {
        color: #979797;
    }
    .vacancy-info {
        display: flex;
        align-items: center;
        gap: 0.25em;
        color: #979797;
        font-size: 14px;
    }

    .vacancy-tab__content {
        display: none;
        text-align: left;
        padding: 0 30px 30px;

        font-size: 13px;
        line-height: 1.8em;
    }

    .btn-respond {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 30px;

        height: 41px;
        width: 100%;
        border-radius: 6px;
        background: #000;
        color: #fff;

        line-height: 1em;
        font-weight: 700;
        font-size: 15px;
    }

    .btn-respond:active {
        background: #073ABE;
    }

    .active .vacancy-tab__content {
        display: block;
    }

    @media (min-width: 769px) {
        .vacancy-tab__btn {
            grid-template-columns: 1fr auto 20px;
            grid-template-rows: 1fr;
            gap: 20px;
            padding: 30px;
        }
        .vacancy-title,
        .vacancy-info,
        .tab__btn-arrow {
            grid-area: unset;
        }

        
        .btn-respond:hover {
            background: #2E5CD2;
        }
    }
</style>
